<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<!-- header page -->
		<th:block th:replace="layout/head :: head"></th:block>
		<!-- nav page -->
		<th:block th:replace="layout/header :: header"></th:block>
		<div class="container" style="height: 500px;">
			<div class="row ">
				<div class="col-sm-12 iframe-admin">
					<table class="table">
						
						<thead>
							
							<tr>
								<th>USER</th>
								<th>EMAIL</th>
								<th>ACTIVE</th>
								<th>ROLE</th>
								<th></th>
							</tr>
							
						</thead>
						<tbody>
							<th:block th:each="user : ${lstUser}">
								
								<tr th:object="${user}" th:data-id="${user.userId}">
									
									<td>
									<p th:text="*{lastName}+' '+*{firstName}">Last Name+ First Name</p>
									</td>
									
									<td>
										<p th:text="*{email}">Email</p>
									</td>
									
									<td>
										<input class="activeUser" type="checkbox" th:checked="*{enabled}"/>
									</td>
									
									<td>
									<select class="form-control">
										<option th:each="role : ${lstRole}" th:value="${role.roleId}"
											th:text="${role.role}"
											th:selected="${#lists.contains(user.roles, role.roleId)}">
										</option>
									</select>
									</td>
									
									<td>
									<button type="button" class="xoa-user btn btn-danger">Delete</button>
									</td>
								</tr>
								
							</th:block>
					</tbody>
				</table>
			</div>
		</div>
		<hr>
	</div>
	<!-- Footer -->
	<th:block th:replace="layout/footer :: footer"></th:block>
	<script type="text/javascript" th:src="@{/js/jsadmin.js}"></script>
	</body>
</html>