<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
	
	<footer class="page-footer font-small blue ">
		<div class="footer-copyright text-center py-3" style="color: red;">
			© 2019 Copyright: <a href="" style="color: red;">
			Ngoc Hung</a>
		</div>
		<div class="footer-copyright text-center py-3" style="color: red;">
			Mentor : Anh Nguyen Ngoc Hanh
		</div>
	</footer>
	<!-- Footer -->
	<script th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/sweetalert2.all.min.js}" type="text/javascript"></script>
	<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
</th:block>