<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<th:block th:replace="layout/head :: head"></th:block>
		<th:block th:replace="layout/header :: header"></th:block>
		<div class="container">
			<div class="row ">
				<div class="frame-forecast">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-heading">
								<h3 th:text="'5 Day Weather Forecast : '+ ${nameCity}"></h3>
							</div>
						</div>
					<div class="panel-body">
						<table class="table">
							<tbody>
								<th:block th:each="fore : ${lstForeCast}">
									<tr th:object="${fore}" th:id="'tr-today'+*{index}">
										
										<td>
											<p th:text="*{#dates.format(day,'EE dd MMM')}"></p>
											<div th:if="${#dates.format(fore.day,'MMM dd, yyyy') == #dates.format(timeToday,'MMM dd, yyyy')}">Today</div>
										</td>
										
										<td>
											<img th:src="'http://openweathermap.org/img/wn/'+*{image}+'.png'" width="65" height="65">
										</td>
										
										<td>
											<span class="badge badge-info tempmax" th:text="*{tempMax}+'°С'"></span>
											<span class="badge badge-info tempmin" th:text="*{tempMin}+'°С'"></span>
											<b><i th:text="*{description}"></i></b>
											<p style="margin-top: 10px" th:text="*{wind}+' m/s '"></p>
											<p th:text="'clouds: '+*{clouds}+' %, '+*{pressure}+' hpa'"></p>
										</td>
										
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</div>
		<hr>
		</div>
		<th:block th:replace="layout/footer :: footer"></th:block>
		</body>
</html>