<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Login</title>
<link 	th:href="@{/css/bootstrap.min.css}"		rel="stylesheet">
<link 	th:href="@{/css/stylepage.css}"			rel="stylesheet">
<script th:src ="@{/js/jquery.min.js}"			type="text/javascript"></script>
<script th:src ="@{/js/jquery.validate.min.js}"	type="text/javascript"></script>
<script th:src ="@{/js/sweetalert2.all.min.js}" type="text/javascript"></script>
<script th:src ="@{/js/bootstrap.min.js}"		type="text/javascript" ></script>
</head>
<body style="height: 100vh;">
	<br>
	<br>
	<br>
	<br>
 <div class="container" style="height: 700px;">
	<div class="row ">
	  <div class="col-sm-3 " >
	  </div>
	  <div class="col-sm-6 iframe-login" >
	  		
	  		<!-- Form Login -->
			<div class="login-form">
				<form th:action="@{/form-login}" method="post" id="form-login">
				
					<h3 class="text-center"><b>Login</b></h3>
					
					<div class="group-message">
						<label  th:if="${(param.message != null)}" style="color: green;">You registered account successfully</label>
						<label  th:if="${(param.error != null)}" style="color: red;">Login Failed !</label>
					</div>
					
					<div class="form-group">
						<input type="text" class="form-control userName" placeholder="Username" name="username">
						<label id="kqCheckName" style="color:red"></label>
					</div>
					
					<div class="form-group">
						<input type="password" class="form-control disinput" placeholder="Password" name="password">
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block disinput btn-signin">Sign in</button>
					</div>
					
					<div class="clearfix">
						<p class="textpass">
						<a th:href="@{/forgot-password}" class="pull-right" >Lost your Password?</a>
						</p>
					</div>
					
				</form>
				
					<p class="text-center">
						Don't have an account?
						 <a class="C_linksignup" th:href="@{/registerAccount}">Sign up here</a>
					</p>
				
			</div>
	  </div>
	  <div class="col-sm-3">
	  </div>
	</div>
	 <hr>
	</div>
 
	<!-- <!-- Footer -->
  <footer class="page-footer font-small blue">

    <div class="footer-copyright text-center py-3" style="color: red;">
      © 2019 Copyright: <a href="" style="color: red;"> FB/Ngoc.Hung.USD</a>
    </div>
    <div class="footer-copyright text-center py-3" style="color: red;">
      Mentor : Anh Hạnh
    </div>

  </footer>
  <!-- Footer -->
  <script type="text/javascript" th:src="@{/js/jslogin.js}"></script>
</body>
</html>