<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Reset Password</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="bodydb">
	<section id="main">
		<div class="container">

			<!-- Form Login -->
			<div class="login-form">
				<form  th:action="" method="post" >
				
					<h2 class="text-center">Reset Password</h2>
					
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Type password" required="required">
					</div>
					
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Type password agains" required="required">
					</div>
					
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block disinput dinput"  th:text="Change Password"></button>
					</div>
				
				</form>
			</div>
			
		</div>
	</section>
	<!-- Footer -->
	<footer class="page-footer font-small blue">

		<div class="footer-copyright text-center py-3" style="color: red;">
			© 2019 Copyright: <a href="" style="color: red;"> FB/Ngoc.Hung.USD</a>
		</div>
		<div class="footer-copyright text-center py-3" style="color: red;">
			Mentor : Anh Hạnh
		</div>

	</footer>
	<!-- Footer -->
</body>
</html>
