<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Error 401</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link th:href="@{/css/stylepage.css}" rel="stylesheet">
		<link rel="shortcut icon" th:href="@{../img/icon.png}">
	</head>
	<body style="height: 100vh;">
		<div class="nav-profile">
			<nav class="navbar navbar-inverse">
				<div class="container-fluid">
					<div class="navbar-header" style="display: po">
						<button type="button" class="navbar-toggle btn-nav" data-toggle="collapse" data-target="#myNavbar">
							<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" th:href="@{/home-weather}"></a>
					</div>
					<div class="collapse navbar-collapse" id="myNavbar">
						<ul class="nav navbar-nav">
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li><a th:href="@{/logout}"> Logout</a></li>
						</ul>
					</div>
				</div>
		</nav>
		</div>
		<div class="container">
			<div class="row ">
				<div class="col-sm-12">
					<P th:if="${message != null}" th:utext="${message}" style="font-size: 50px; font-weight: bold; width: max-content; color: red;"></p>
					<P style="font-size: 20px;">Detail contact Admin . Phome : 123456789</p>
				</div>
			</div>
		</div>
	<!-- Footer -->
	<div class="footer-login	">
		<th:block th:replace="layout/footer :: footer"></th:block>
	</div>
	</body>
</html>