body {
	background: #f4f4f4;
	background-image:
		url(https://www.accuweather.com/images/hero/6/1440x450.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bodydb {
	background: #f4f4f4;
	background-image:
		url(https://www.accuweather.com/images/hero/2/1440x450.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.page-footer {
	background-color: #0e0c0ca6;
	position: absolute;
	width: 100vw;
	bottom: 0;
	padding: 10px 0;
}

/* Navbar */
.navbar {
	min-height: 33px !important;
	margin-bottom: 0;
	border-radius: 0;
}

.navbar-default {
	background-color: #0a0a0ab3;
	border-color: #c0392b1a;
	position: fixed;
	width: 100vw;
	top: 0;
}

.navbar-default .navbar-brand {
	color: #ecf0f1;
}

.navbar-default .navbar-text {
	color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a {
	color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #ffbbbc;
}

.row {
	max-width: 830px;
	margin: auto;
}

.panel {
	background-color: #ffffff4d;
}

.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f961;
}

.panel-default>.panel-heading {
	color: #333;
	background-color: #f5f5f56b;
	border-color: #ddd;
}

.form-control {
	background-color: #ffffff00;
}

.form-inline .form-control {
	display: inline-block;
	width: 500px;
	vertical-align: middle;
}

.showmorestyle {
	color: black;
	font-weight: 700;
	width: 90px;
	margin: auto;
}

.trshowmore {
	background-color: #d9edf76e;
}

.trshowmore1 {
	background-color: #d9edf76e;
}

.showmorestyle {
	cursor: pointer;
}

#hideshowless {
	display: none;
}

#showless {
	display: none;
}

/* login */
.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 38px;
	border-radius: 2px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
}

.login-form form .textpass {
	margin: 0px 65px 10px;
}

/* form dang ky */
.login-form form .C_signup {
	color: white;
	font-size: 21px;
	text-align: center;
	padding-top: 12px;
	background-color: #337ab7;
	height: 55px;
	width: 302px;
}

/* form reset */
.login-form-reset {
	width: 340px;
	margin: 50px auto;
	position: relative;
}

.login-form-reset form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}

.title-reset {
	background-color: #337ab7;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 340px;
}

.title-reset p {
	color: white;
}

/*   showmore */

/* form serach */
.loading-bar {
	display: none;
	position: fixed;
	z-index: 1000; /* luon luon tren top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url("http://i.stack.imgur.com/FhHRx.gif");
	background-position: 50% 50%;
	background-color: rgba(255, 255, 255, 10000);
	background-repeat: no-repeat;
}

body.loading {
	overflow: hidden;
}

body.loading .loading-bar {
	display: block;
}

#cam {
	background-color: #d6581c;
}

#den {
	background-color: #000000d9;
}