<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/sweetalert2@8.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home-weather}">HOME</a>
			</div>
			<div >
				<a  class="navbar-brand" th:href="@{/home-admin}">MANAGEMENT</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Hi, <span
							th:utext="${#request.userPrincipal.name}"></span></a></li>
					<li><a th:if="${#request.userPrincipal != null}"
						th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-heading">
							<!-- <div class="duoi" style="margin-left: 520px;"> -->
							<form id="formSearch" class="form-inline"
								th:action="@{/home-weather/search-city}" >
								<input type="text" class="form-control mb-2 mr-sm-2"
									placeholder="Type name city to watch infomation weather"
									id="nameSearch" name="name">
								<button type="submit" class=" btn btn-primary mb-2">Search</button>
							</form>
						</div>
					</div>
					<div class="panel-body">
						<div class="col-sm-12">

							<div class="tab-pane active" id="forecast-list">
								<div id="forecast_list_ul">
									<table class="table">
										<tbody>
										
											<!-- Show result search weather city -->
											<th:block th:if="${weatherSearch != null}">
												
												<tr  th:object="${weatherSearch}">
											
												<td>
												
												<img th:src="'http://openweathermap.org/img/wn/'+*{icon}+'.png'"width="50" height="50">
												
												</td>
													
												<td>
												
												<b><a href="#" th:text="*{nameCity}">NameCity</a></b>
												<p><span th:text="*{#calendars.format(date,'MMMM dd, yyyy')}">Date</span></p>
												
												</td>	
															
												<td>
												
												<span class="badge badge-info" th:text="*{temp}+'°С'">Temperature</span>
												<b><i th:text="*{description}"></i></b>
												<p th:text="*{wind}+' m/s. '+*{humidity}+' %, '+*{pressure}+' hpa'">win humidity</p>	
												
												</td>
												
												<td th:switch="${flag}">
												
												<a class="add-user btn btn-primary" th:case="'add'"
													th:href="@{/home-weather/save-weather?action=Add&(name=*{nameCity})}" >Add</a>
												<a class="update-user btn btn-warning" th:case="'update'"  
													th:href="@{/home-weather/save-weather?action=Update&(name=*{nameCity})}">Update</a>
												
												</td>
											</tr>
											
											<tr>
											<td colspan="4"></td>
											</tr>
											<tr>
											<td colspan="4"></td>
											</tr>
												
											</th:block>
											
										<!-- Show  weather city in DB same nameSearch  th:if="${#lists.isEmpty(lstWeather)}"-->
											<th:block th:if="${not #lists.isEmpty(lstWeatherByUser)}"  th:each="we : ${lstWeatherByUser}">
												
												<tr  th:object="${we}">
											
												<td>
												
												<img th:src="'http://openweathermap.org/img/wn/'+*{icon}+'.png'"width="50" height="50">
												
												</td>
												
													
												<td>
												
												<b><a href="#" th:text="*{nameCity}">NameCity</a></b>
												<p><span th:text="*{#calendars.format(date,'MMMM dd, yyyy')}">Date</span></p>
												
												</td>	
															
												<td>
												
												<span class="badge badge-info" th:text="*{temp}+'°С'">Temperature</span>
												<b><i th:text="*{description}"></i></b>
												<p th:text="*{wind}+' m/s. '+*{humidity}+' %, '+*{pressure}+' hpa'">win humidity</p>	
												
												</td>
												
												<td>
												
												<a class="xoa-weather btn btn-danger" href="#">Delete</a>
												
												</td>
											</tr>
											
											</th:block>

											
											<!-- Show list weather by user -->
											<th:block th:if="${not #lists.isEmpty(lstWeather)}" th:each="we : ${lstWeather}">
											
											<tr th:object="${we}" th:data-id="*{key.weatherId}">
											
												<td>
												<img th:src="'http://openweathermap.org/img/wn/'+*{key.icon}+'.png'"width="50" height="50">
												</td>
													
												<td>
												<b><a href="#" th:text="*{key.nameCity}">NameCity</a></b>
												<p><span th:text="*{#calendars.format(key.date,'MMMM dd, yyyy')}">Date</span></p>
												</td>	
															
												<td>
												<span class="badge badge-info" th:text="*{key.temp}+'°С'">Temperature</span>
												<b><i th:text="*{key.description}"></i></b>
												<p th:text="*{key.wind}+' m/s. '+*{key.humidity}+' %, '+*{key.pressure}+' hpa'">win humidity</p>	
												</td>
												
												<td>
												<button class="xoa-weather btn btn-danger" >Delete</button>
												</td>
												
											</tr>
											
											<tr class="trshowmore" th:if=${we.value!=1}>
											
												<td colspan="4">
													<p onclick="showlist()" class="showmorestyle">Show More</p>
												</td>
												
											</tr>
											
											<!-- If have showmore - Load data  -->
											<th:block>
											
											<tr th:object="${we}" th:data-id="*{key.weatherId}" class="hideshowless" style="display: none">
											
												<td>
												<img th:src="'http://openweathermap.org/img/wn/'+*{key.icon}+'.png'"width="50" height="50">
												</td>
													
												<td>
												<b><a href="#" th:text="*{key.nameCity}">NameCity</a></b>
												<p><span th:text="*{#calendars.format(key.date,'MMMM dd, yyyy')}">Date</span></p>
												</td>	
															
												<td>
												<span class="badge badge-info" th:text="*{key.temp}+'°С'">Temperature</span>
												<b><i th:text="*{key.description}"></i></b>
												<p th:text="*{key.wind}+' m/s. '+*{key.humidity}+' %, '+*{key.pressure}+' hpa'">win humidity</p>	
												</td>
												
												<td>
												<button class="xoa-weather btn btn-danger" >Delete</button>
												</td>
											</tr>
											
											<!-- <tr class="trshowmore1 " id="showless" onclick="hidelist()">
												<td colspan="4">
													<p class="showmorestyle">Show Less</p>
												</td>
											</tr> -->
											
											</th:block>
											
											
											
											
											
											</th:block>
											
											
											
										<!-- 	<tr  class="hideshowless" th:data-id="${we.weatherId}"
												th:each="we : ${lstWeather}" style="display: none" >
												<td><img
													th:src="'http://openweathermap.org/img/wn/'+${we.icon}+'.png'"
													width="50" height="50"></td>
												<td><b><a href="#" th:text="${we.nameCity}"></a></b>
													<p>
														<span
															th:text="${#calendars.format(we.date,'MMMM dd, yyyy')}"></span>
													</p></td>
												<td><span class="badge badge-info"
													th:text="${we.temp}+'°С'"> </span> <b> <i
														th:text="${we.description}"> </i></b>
													<p
														th:text="${we.wind}+' m/s. '+${we.humidity}+' %, '+${we.pressure}+' hpa'"></p></td>
												<td><a class="xoa-weather btn btn-danger" href="#">Delete</a></td>
											</tr>
 -->
											
											<tr class="trshowmore1 " id="showless" onclick="hidelist()">
												<td colspan="4">
													<p class="showmorestyle">Show Less</p>

												</td>
											</tr>


										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="page-footer font-small blue">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3" style="color: red;">
			© 2019 Copyright: <a href="" style="color: red;"> FbNgocHung.com</a>
		</div>
		<div class="footer-copyright text-center py-3" style="color: red;">
			Mentor : Anh Hạnh
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	<script type="text/javascript">
		//search weather
		$(".search-weather").click(function() {
			var nameSearch = $document.getElementById("nameSearch").value;
			$.ajax({
				url : "http://localhost:8080/home-weather/search-citya",
				type : "GET",
				data : {
					name : nameSearch
				},
				success : function(value) {
					return value;
				}
			})
		})

		//xoa weather
		$(".xoa-weather")
				.click(
						function() {
							var self = $(this);
							var id = $(this).closest("tr").attr("data-id");
							$
									.ajax({
										url : "http://localhost:8080/home-weather/deleteWeather",
										type : "GET",
										data : {
											id : id
										},
										success : function(value) {
											self.closest("tr").remove();
											Swal
													.fire(
															'Done !',
															'You click OK to continue !',
															'success')
										}
									})
						})

		//xu ly show
		/* function showlist() {
			var showLessArray = Array.prototype.slice.call(document
					.getElementsByClassName("hideshowless"));
			showLessArray.forEach(itemShowLess);
			function itemShowLess(item) {
				item.style.display = "table-row";
			}
			document.getElementById("showless").style.display = "table-row";
		}

		function hidelist() {
			var showLessArray = Array.prototype.slice.call(document
					.getElementsByClassName("hideshowless"));
			showLessArray.forEach(itemShowLess);
			function itemShowLess(item) {
				item.style.display = "none";
			}
			document.getElementById("showless").style.display = "none";
		} */
	</script>

</body>
</html>