<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Form</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body class="bodydb">
	<section id="main">
		<div class="container">

			<!-- dang nhap -->
			<div class="login-form">
				<form name='f' th:action="@{/form-login}" method="post">
					<h2 class="text-center">Login</h2>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Username"
							required="required"  name="username">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password"
							required="required" name="password">
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-block">Sign
							in</button>
					</div>
					<div class="clearfix">
						<p class="textpass">
							<a href="" class="pull-right" data-toggle="modal"
								data-target=".bd-example-modal-sm1">Lost your Password?</a>
						</p>
					</div>
				</form>
				<p class="text-center">
					Don't have an account? <a class="C_linksignup" href=""
						data-toggle="modal" data-target=".bd-example-modal-sm">Sign up
						here</a>
				</p>
			</div>

			<!-- test -->
			<div class="modal fade bd-example-modal-sm" tabindex="-1"
				role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<!-- <div class="modal-content"> -->
					<!--  dang ky -->

					<div class="login-form-fromsign">
						<form action="" method="post">
							<h2 class="text-center">
								<p class="C_signup">Sign Up</p>
							</h2>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Username"
									required="required" name="username">
							</div>
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Email Address" required="required" name="email">
							</div>
							<div class="form-group">
								<input type="password" class="form-control"
									placeholder="Password" required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="First Name"
									required="required">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Last Name"
									required="required">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Register</button>
							</div>
						</form>

					</div>
					<!--  </div> -->
				</div>
			</div>
			<!-- reset password -->
			<div class="modal fade bd-example-modal-sm1" tabindex="-1"
				role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<!--  <div class="modal-content">  -->

					<div class="login-form-reset">
						<div class="title-reset">
							<p class="">Reset Password</p>
						</div>


						<form action="" method="post">
							<div class="form-group">
								<input type="text" class="form-control"
									placeholder="Username or Email" required="required">
							</div>

							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Get
									New Password</button>
							</div>
						</form>
					</div>
					<!--   </div>  -->
				</div>
			</div>
		</div>

		</div>
	</section>

</body>
</html>
