<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Admin</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/sweetalert2@8.js}"></script>
	<!-- <script type="text/javascript" th:src="@{/js/sweetalert2.all.min.js}"></script> -->
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home-weather}">HOME</a>
			</div>
			<div class="navbar-header">
				<a class="navbar-brand" th:href="@{/home-admin}">MANAGEMENT</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Hi, <span
							th:utext="${#request.userPrincipal.name}"></span></a></li>
					<li><a th:if="${#request.userPrincipal != null}"
						th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<section id="main">
		<div class="container">
			<div class="row">
				<div class="panel panel-default">

					<div class="panel-body">
						<div class="col-sm-12">

							<div class="tab-pane active" id="forecast-list">
								<div id="forecast_list_ul">
									<table class="table">
										<thead class="bg-primary">
											<th>User</th>
											<th>Email</th>
											<th>Active</th>
											<th>Role</th>
											<th></th>

										</thead>
										<tr th:each="dsUser : ${dsUser}" th:data-id="${dsUser.userId}">
											<td th:text="${dsUser.userName}"></td>
											<td th:text="${dsUser.email}"></td>
											<td>
												<input class="activeUser"  type="checkbox"  th:checked="${dsUser.enabled}"  />
											</td>
											<td><select id="idselect" class="form-control" >
													<option th:value="${dsUser.roles.role}">----</option>
													<option th:each="role : ${dsRole}"
													 th:value="${role.roleId}" th:utext="${role.role}"></option>
													
											</select></td>
											<!-- <td><a class="btn btn-danger" th:href="@{/home-admin/delete-user?id={id}(id=${dsUser.userId})}">Delete</a></td>
 -->										<td class="xoa-user btn btn-danger">Delete</td>
										</tr>
									</table>
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<footer class="page-footer font-small blue">

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3" style="color: red;">
			© 2019 Copyright: <a href="" style="color: red;"> FbNgocHung.com</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->
	<script type="text/javascript" th:src="@{/js/jsadmin.js}"></script>
	<script type="text/javascript">
	$(document).ready(function() {

	    $('.activeUser').change(function() {
	        if(this.checked) {
	        	// event tu uncheck -> check
	      	  swal({
	              title: 'Comfirm!',
	              text: "Are you sure that you want to perform this action?",
	              showCancelButton: true,
	              confirmButtonColor: '#3085d6',
	              cancelButtonColor: '#d33',
	              confirmButtonText: 'Yes, change it',
	              cancelButtonText: 'No, cancel'
	          }).then((result) => {
	        	  //comfirm tren form la yes
	              if (result.value) {
	            	  var self = $(this);
	            	  var id = $(this).closest("tr").attr("data-id");
	            	  $.ajax({
	          			url:"http://localhost:8080/home-admin/editActiveUser",
	          		    type:"GET",
	          		    data:{
	          		    	id:id,
	          		    },
	          		})   
	            	  
	              }
	        	  //neu chon no
	           //   $("#activeUser").prop('checked', false);
	        	  
	              	
	          })
	        	
	        }
	        //else      
	        	   	  swal({
	              title: 'Comfirm!',
	              text: "Are you sure that you want to perform this action?",
	              showCancelButton: true,
	              confirmButtonColor: '#3085d6',
	              cancelButtonColor: '#d33',
	              confirmButtonText: 'Yes, change it',
	              cancelButtonText: 'No, cancel'
	          }).then((result) => {
	        	  //comfirm tren form la yes
	              if (result.value) {
	            	  var self = $(this);
	            	  var id = $(this).closest("tr").attr("data-id");
	            	  $.ajax({
	          			url:"http://localhost:8080/home-admin/editActiveUser",
	          		    type:"GET",
	          		    data:{
	          		    	id:id,
	          		    },
	          		})   
	            	  
	              }
	        	  //neu chon no
	           //   $("#activeUser").prop('checked', false);
	        	  
	              	
	          })
	    });
	    
	    /// change ROle Name
	    
	    $('select').on('change', function() {
	    	
	  	  swal({
              title: 'Comfirm!',
              text: "Are you sure that you want to perform this action?",
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, change it',
              cancelButtonText: 'No, cancel'
          }).then((result) => {
        	  //comfirm tren form la yes
              if (result.value) {
            	  var id = $(this).closest("tr").attr("data-id");
            	  var optionSelected = $(this).find("option:selected");;
            	  var role   = optionSelected.text();
            
       	  $.ajax({
          			url:"http://localhost:8080/home-admin/change-role",
          		    type:"GET",
          		    data:{
          		    	id:id,
          		    	role:role
          		    },
          		})   
            	  
              }
        	  //neu chon no
           //   $("#activeUser").prop('checked', false);
        	  
              	
          })
	    	});
	    
	});
	</script>
</body>
</html>